<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<th:block th:include="fragments/header :: header"></th:block>

</head>

<body ng-app="lanchoneteApp">

	<div class="container">

		<th:block th:include="fragments/menu :: menu"></th:block>

		<main role="main">

		<div class="jumbotron">
			<h1>Bem vindo a Lanchonete Personalizada</h1>
			<p class="lead">Compre seu lanche através do nosso cardápio ou se
				não ficar feliz com o que viu, crie seu próprio lanche com os
				ingredientes preferidos</p>
			<p>
				<a class="btn btn-lg btn-success" href="#" th:href="@{/cardapio}" role="button">Veja Nosso Cardápio</a>
			</p>
		</div>

		</main>

		<div class="footer">
			<th:block th:include="fragments/footer :: footer"></th:block>
		</div>

	</div>

	<th:block th:include="fragments/javascripts :: javascripts"></th:block>
</body>
</html>
