<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<th:block th:include="fragments/header :: head"></th:block>

</head>

<body ng-app="lanchoneteApp">

	<div class="container"
		ng-controller="lanchoneteController as lanchoneteCtrl">

		<main role="main"> <th:block
			th:include="fragments/menu :: menu"></th:block>

		<h1>Lanche Personalizado</h1>

		<hr/>

		<form>

			<table class="table table-hover">
			<h4>Ingredientes</h4>
				<thead>
					<tr>
						<th scope="col">Ingrediente</th>
						<th scope="col">Valor</th>
						<th scope="col">Quantidade</th>
						<th scope="col">Valor Unitário</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="ingredientes in lanchoneteCtrl.ingredientes track by $index">
						<td>{{ingredientes.nome}}</td>
						<td>{{ingredientes.valor | currency:"R$ "}}</td>
						<td><input ng-model = "lanchoneteCtrl.qtd[$index]" type="number" value="0" class="form-control" min="0" max="100" style="width: 50% !important; text-align: center;"/></td>
						<td>{{ingredientes.valor * lanchoneteCtrl.qtd[$index] | currency:"R$ ":2}}</td>
					</tr>
					<tr ng-show = "lanchoneteCtrl.exibirValorTotal">
						<td colspan="3" class="bg-danger" style="font-weight: bold; color: yellow;">Valor Total</td>
						<td class="bg-danger" style="font-weight: bold; color: yellow;">{{lanchoneteCtrl.totalLanche | currency:"R$ "}}</td>
					</tr>
				</tbody>
			</table>
			
			
			
			<button ng-click = "lanchoneteCtrl.calculateTotal()" type="button" class="btn btn-primary">Calcular</button>
			<button ng-click = "lanchoneteCtrl.pedirOutroLanche()" type="button" class="btn btn-primary">Fazer outro lanche</button>
			
		</form>
		</main>

		<div class="footer">
			<th:block th:include="fragments/footer :: footer"></th:block>
		</div>
	</div>

	<th:block th:include="fragments/javascripts :: javascripts"></th:block>

</body>
</html>