<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<th:block th:include="fragments/header :: head"></th:block>

</head>

<body ng-app="lanchoneteApp">

	<div class="container" ng-controller = "lanchoneteController as lanchoneteCtrl">

		<main role="main"> <th:block
			th:include="fragments/menu :: menu"></th:block>

		<h1>Cardápio</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Lanche</th>
					<th scope="col">Ingredientes</th>
					<th scope="col">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "lanche in lanchoneteCtrl.lanches | orderBy:propertyName:reverse">
					<td>{{lanche.nome}}</td>
					<td>{{lanche.listaIngredientes}}</td>
					<td>{{lanche.valorLanche | currency:"R$ "}}</td>
				</tr>
			</tbody>
		</table>

		</main>

		<div class="footer">
			<th:block th:include="fragments/footer :: footer"></th:block>
		</div>
	</div>

	<th:block th:include="fragments/javascripts :: javascripts"></th:block>

</body>
</html>