
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="header">

<base href="/"></base>

<meta charset="utf-8"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<link rel="icon" href="../../../../favicon.ico"/>

<title>Lanchonete Personalizada</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous"/>

<link href="../../static/css/index-nav.css"
	th:href="@{/css/index-nav.css}" rel="stylesheet" media="screen" />

</head>

<body>

</body>

</html>
