
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head lang="en">
</head>

<body>

	<header class="masthead" th:fragment="menu">
		<h3 class="text-muted">Lanchonete Personalizada</h3>

		<nav
			class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav text-md-center nav-justified w-100">
					<li class="nav-item active"><a class="nav-link" href="#"
						th:href="@{/lanchonete}">Home <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/cardapio}">Cardápio</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/lanchepersonalizado}">Lanche
							Personalizado</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Sobre
							Nós</a></li>
				</ul>
			</div>
		</nav>
	</header>

</body>

</html>
